ENABLE_APM=0
NODE_ENV=development
CLIENT_URL=http://localhost:3000
RABBITMQ_ENDPOINT=amqp://jobber:jobberpass@localhost:5672
SENDER_EMAIL=sadie.rogahn99@ethereal.email
SENDER_EMAIL_PASSWORD=q4SBhbUJD29JEfnvra
ELASTIC_SEARCH_URL=http://localhost:9200
ELASTIC_APM_SERVER_URL=http://localhost:8200
ELASTIC_APM_SECRET_TOKEN=
